@import url("https://fonts.googleapis.com/css?family=B612&display=swap");
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

*:not(i) {
    border-radius: 0px !important;
    font-family: "B612", sans-serif !important;
}

#sidebar {
    position: fixed;
    height: 100vh;
    padding-top: 18px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: inset -10px 5px 10px #58585896;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%, #525377 0%, #81c6dfad 100.2%);
}

.studentRow:hover {
    cursor: pointer;
}

#sidebar .ui.menu>a.item {
    padding: 10px 20px;
    line-height: 25px;
    color: white;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 1.2em;
}

#sidebar .ui.menu>a.item.active {
    background-color: #337ab7;
    color: white;
    border: none !important;
}

#sidebar .ui.menu>a.item:hover {
    background-color: #eee;
    color: #23527c;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
}

#content h1 {
    font-size: 36px;
}

#content .ui.dividing.header {
    width: 100%;
}

.ui.centered.small.circular.image {
    margin-top: 14px;
    margin-bottom: 14px;
}

.ui.borderless.menu {
    box-shadow: none;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
}

.hover-head:hover {
    cursor: pointer !important;
}

table {
    border-collapse: collapse !important;
}

.w3-card-4, .w3-hover-shadow:hover, table {
    border: 1px solid white;
    outline: none;
    box-shadow: 0 0 10px #333 !important;
}